.cnt-farm-btn-disabled {
  width: 150px;
  height: 40px;
  padding: 11px 24px 12px;
  border-radius: 10px;
  background-color: #3e4252;
}

.cnt-farm-btn {
    width: 150px;
    height: 40px;
    padding: 11px 24px 12px;
    border-radius: 10px;
    background-color: #448aff;
  }

.cnt-farm-label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ebecf2;
}

.cnt-farm-wallet-container {
    width: 152px;
    height: 40px;
    opacity: 0.24;
    border-radius: 10px;
    background-color: #448aff;
}

.cnt-farm-label-wallet {
    font-family: Inter;
    font-size: 9px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.36px;
    text-align: left;
    color: #448aff;
}